.about__container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.about__me {
    width: 25rem;
    aspect-ratio: 1.5/1;
    background: linear-gradient(var(--color-primary), transparent);
    width: 25rem;
    height: 20.85rem;
    border-radius: 12rem 12rem 0 0 ;
    place-items: center;
}

.about__me-image {
    width: 25rem;
    overflow: hidden;
    transition: var(--transition);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: auto;
    gap: 1rem;
}

.about__card {
    background: var(--color-primary-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--color-light);
}

.about__icon {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card:hover .about__icon {
    color: var(--color-primary); /* Change the color of icons to white when the card is hovered */
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: white;
}

.about__card:hover h5,
.about__card:hover small {
    color: var(--color-light); /* Change text color to white when card is hovered */
}

.about__content {
    margin: 2rem 0 2.6rem;
    color: white;
}


.about__content p {
    margin: 1.5rem 0 2rem;
    color: var(--color-light);
}


/*================= MEDIA QUERIES ======================== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        margin: 2rem auto 4rem;
    }

    .about__cards {
        gap: 1rem;

    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/*================== MOBILE PHONES ======================= */
@media screen and (max-width: 600px) {

    .container {
        width: var(--container-width-sm);
    }
    
    .about__me {
        margin: 0 auto 3rem;

    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }

    .about__content {
        text-align: center;

    }

    .about__content p {
        margin: 1.5rem 0 1.5rem;
    }

}