.testimonials__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.testimonials__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.testimonials__item:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.testimonials__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 2.5rem;

}

.testimonials__item h3 {
    margin: 1rem 1.2rem;
    padding-left: 6rem;
    

}

.testimonials__item-cta {
    padding-left: 68px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn2 {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn2:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

/*================= MEDIA QUERIES ======================== */
@media screen and (max-width: 1024px) {
    .testimonials__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    
}

    
/*================== MOBILE PHONES ======================= */
@media screen and (max-width: 600px) {
    .testimonials__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}



